:global(.button) {
  display: inline-block;
  margin: 50px 15px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: white;
  border-radius: 25px;
  color: lightsteelblue;
  transition: 500ms;

  &:hover {
    margin: 0px 15px;
    height: 150px;
    line-height: 150px;
    border-radius: 75px;
  }
}