.container {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;

  :global(.title) {
    font-family: 'Dancing Script', cursive;
    font-variant: none;

    :global(.caption) {
      left: 40%!important;
    }
  }
}